.rows{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1.5rem;
    .row {
        margin:0;
        display: flex;
        gap: 2rem;
        .info-chart { 
            padding: 2rem 2.5rem; 
        }
        .chart{
            padding: 1rem; 
            height: 25rem;
        }
        .value{
            font-size: x-large;
            margin: 0.5rem 0 0 0;
        }
        .desc{
            margin: 0;
        }
        .pep-border-bottom{
            text-align: left;
            padding-bottom: 0.75rem;
        }
    }
}

.content{
    margin-top: 0 !important;
}

#dailySync{
    height: 20rem !important;
    min-width: 40rem;
}

#syncStatus{
    height: 20rem !important;
    width: 14.5rem !important;
}

p{
    text-align: center;
    margin: 10px 0px;
}

.chart-background{
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05),
    0px 8px 16px 0px rgba(0, 0, 0, 0.04),
    0px 12px 24px 0px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
}