<!-- <main> -->
    <div class="plugin-page-container">
        <div class="header-content">
            <div class="content pep-border-bottom">
                <div class="left-container spacing-element-negative pull-left flip">
                    <div class="spacing-element title">
                        {{ 'Health_Monitor_Dashboard_Title' | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content ">
            <div class="content">
                <mat-tab-group
                #tabGroup
                [selectedIndex]="tabID"
                (selectedTabChange)="tabClick($event)"
                animationDuration="0ms"
                class="fixed-header">
                    <mat-tab id="dashboard" label="{{ 'Health_Monitor_Dashboard_Tab1' | translate}}">
                        <div class="rows" [ngStyle]="{ visibility: dashboardData ? 'visible':'hidden'}">
                            <div class="content row">
                                <div class="info-chart chart-background">
                                    <p class="desc color-dimmed">Last Sync - {{ dashboardData?.LastSync?.StatusName}}</p>
                                    <p class="value bold" >{{dashboardData?.LastSync?.Time}} UTC </p>
                                </div>
                
                                <div class="info-chart chart-background">
                                    <p class="desc color-dimmed">Job Time Usage</p>
                                    <p class="value bold" >{{dashboardData?.JobTimeUsage?.Percantage}}%</p>
                                </div>
                
                                <div class="info-chart chart-background">
                                    <p class="desc color-dimmed">Pending Actions</p>
                                    <p class="value bold">{{dashboardData?.PendingActions?.Count}}</p>
                                </div>
                            </div>
                            <div class="content row">
                                <div class="chart chart-background">
                                    <p class="pep-border-bottom">Sync Status</p>
                                    <canvas #syncStatus id="syncStatus"></canvas>
                                </div>
                                <div class="chart chart-background">
                                    <p class="pep-border-bottom">Daily Sync (UTC)</p>
                                    <canvas #dailySync id="dailySync"></canvas>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
    
                    <mat-tab id="pendingActions" label="{{ 'Health_Monitor_Dashboard_Tab2' | translate}}">
                        <div class="list-container" #listContainer>
                            <pep-list
                                [firstFieldAsLink]="false"
                                [isReport]="true"
                                [supportSorting]="false"
                                [supportResizing]="true"
                                [selectionTypeForActions]="'none'"
                                [noDataFoundMsg]="'No data'"
                                [parentScroll]="listContainer"
                                (listChange)="onListChange($event)"
                                (fieldClick)="onCustomizeFieldClick($event)">
                            </pep-list>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
    